@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    margin: auto;
    text-align: center;
    background-image: url(https://media.istockphoto.com/photos/brown-recycled-paper-crumpled-texture-background-cream-old-vintage-picture-id1278709873?b=1&k=20&m=1278709873&s=170667a&w=0&h=I7KaFvQN4G7p6EjkFNfKDr-9RUsNUPV8vTVhCSdG_pQ=);
    background-size: 100%;
}
header {
    font-family: 'abril fatface';
}
li {
    font-size: 17px;
    list-style: none;
    display: inline;
    text-align: center;
    padding: 2px;
}
main h2 {
    font-family: 'Abril Fatface';
    font-size: 33.33px;
}
main p {
    color: black;
    font-family: 'Roboto slab';
}
main img {
    width: 100%;
    border: 4px ridge #eee;
}
main h5 {
    font-size: large;
    text-decoration: underline;
    color: red;
    font-family: 'Abril fatface';
}
a {
    text-decoration: none;
    color: black;
    margin: auto;
    padding: .30%;
}
a:hover {
    color: red;
}
.more-articles {
    display: flex;
}
.inline-block1, .inline-block2 {
    flex: 33.33%;
    padding: 5px;
}
nav {
    position: sticky;
    top: 0px;
    left: 0px;
    color: #777;
    background-color: rgba(240, 238, 219, 0.756);
}
.date {
    text-align: left;
    font-family: 'roboto slab';
    text-decoration: underline;
}
.more-articles h4 {
    font-family: 'abril fatface';
    font-size: 20px;
}
section p {
    font-family: 'roboto slab';
    padding: 5px;
    text-align: center;
}
section img {
    width: 80%;
    border: 4px ridge white;
}